extends layout

block content
  .container
    .row.single
      .col-md-4.col-sm-4
        .empty-space.hidden-xs
        .title Symptoms
        .body= muddle.symptoms
      .col-md-6.col-sm-8
        .empty-space.visible-xs
        h1= muddle.title
        .title Hotfix
        .body= muddle.hotfix
        .title Description
        .body= muddle.description
        .empty-space
        if anon
          .author.text-right by
            span &nbsp;anonymous
        else
          .author.text-right by &nbsp;
            a(href=authorLink)= author
